asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.3
django-grappelli==4.0.2
django-stubs==5.2.2
django-stubs-ext==5.2.2
fake-useragent==2.2.0
idna==3.10
psycopg2-binary==2.9.10
python-dotenv==1.1.0
requests==2.32.5
sentry-sdk==2.30.0
soupsieve==2.7
sqlparse==0.5.3
types-PyYAML==6.0.12.20250822
typing_extensions==4.14.1
urllib3==2.5.0
whitenoise==6.9.0
