{% extends 'article/base.html' %}

{% block title %}
    <title>{{ article.title }} | Oriona</title>
{% endblock %}
{% block description %}
    <meta name="description" content="{{ article.description }}"/>
{% endblock %}

{% block main %}
    <article>
        <header>
            {# <img src="https://f003.backblazeb2.com/file/oriona-test/kiss.webp" alt=""> #}
            <h1>{{ article.title }}</h1>
        </header>
        <section>{{ article.content|safe }}</section>
    </article>
{% endblock %}