{% extends 'article/base.html' %}

{% block title %}
    <title>{{ article.title }} | Oriona</title>
{% endblock %}
{% block description %}
    <meta name="description" content="{{ article.description }}"/>
{% endblock %}

{% block main %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            {% if article.image and article.image.url %}
                <img src="{{ article.image.url }}" alt="">
            {% endif %}
        </header>
        <section>{{ article.content|safe }}</section>
    </article>

{% endblock %}