{% load static %}
<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% block title %}
        <title>Oriona</title>
    {% endblock %}
    {% block description %}
    {% endblock %}
    <link href="{% static 'article/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'article/js/base.js' %}" defer></script>
</head>

<body>
{% block body %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
</body>
</html>